.navbar {
  width: 100%;
  padding: 20px;
  height: 70px;
}

.container-fluid {
  max-width: 100%;
  min-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.navbar-nav {
display: flex !important;
align-items: center;
list-style: none;
}

.navbar-nav .nav-item {
margin-left: 10px;
}

.navbar-nav .nav-item:last-child {
margin-right: 0;
}

.navbar-nav .nav-item > * {
display: inline-flex;
align-items: center;
}

.navbar-nav .nav-item > * {
right: auto !important;
left: 0 !important;
}
.dropdown-menu {
display: flex;
flex-direction: column;

}
.dropdown-menu-right {
margin-top: 10px;
right: 0 !important;
left: auto !important;
}

.touchspin-cart .touchspin-wrapper {
  width: 6.4rem;
}

.touchspin-cart:focus-within {
  box-shadow: none !important;
}

.app-navbar-bookmark {
  display: flex;
}

.navbar-static-style-on-scroll {
  background-color: #fff !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 0px !important;
}

/* Custom Styles */

.logo {
  position: relative;
}



.user-name {

  font-weight: bold;
}

.avatar-status-online {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  top: 12px;


}