<div class="notification-wrapper" [ngClass]="{'show': dropdownVisible}" (click)="toggleDropdown($event)">
  <div class="notification-icon">
    <i class="fas fa-bell"></i>
    <span *ngIf="unreadNotifsCount > 0" class="badge badge-pill badge-danger badge-up">{{ unreadNotifsCount }}</span>
  </div>
  <div class="notification-dropdown" *ngIf="dropdownVisible">
    <div class="dropdown-header">
      <h4 class="notification-title">Notifications</h4>
      <div class="notifitem2">
        <div class="notification-count">{{ unreadNotifsCount }} Nouveau(x)</div>
        <div (click)="toggleNotification($event)">{{ showAll ? 'Réduire' : 'Voir tout' }}</div>
      </div>
    </div>
    <div class="notification-list">
      <ng-container *ngIf="showAll; else limitedNotifications">
        <ng-container *ngIf="notifications.length > 0; else noNotifications">
          <a href="#" class="notification-item" *ngFor="let notification of notifications"  [ngStyle]="{'background-color': !notification.seen ? '#f2f8ff' : 'white'}">
            <div class="notifitem">
              <div class="notification-avatar">
                <img src="{{ notification.sender?.avatar || 'assets/avatar.jpg' }}" alt="avatar" height="35" width="35" />
              </div>
              <div class="notification-content">
                <p class="notification-text"><b>{{ notification.sender?.name }}</b> {{ notification.message }}</p>
                <small class="notification-text">{{ notification.creation_date | date: 'dd/MM/yyyy à HH:mm' }}</small>
              </div>
            </div>
          </a>
        </ng-container>
        <ng-template #noNotifications>
          <div class="text-center">Aucune notification</div>
        </ng-template>
      </ng-container>
      <ng-template #limitedNotifications>
        <a href="#" class="notification-item" *ngFor="let notification of lastFiveNotifications"  [ngStyle]="{'background-color': !notification.seen ? '#f2f8ff' : 'white'}">
          <div class="notifitem">
            <div class="notification-avatar">
              <img src="{{ notification.sender?.avatar || 'assets/avatar.jpg' }}" alt="avatar" height="35" width="35" />
            </div>
            <div class="notification-content">
              <p class="notification-text"><b>{{ notification.sender?.name }}</b> {{ notification.message }}</p>
              <small class="notification-text">{{ notification.creation_date | date: 'dd/MM/yyyy à HH:mm' }}</small>
            </div>
          </div>
        </a>
      </ng-template>
    </div>
   
  </div>
</div>
